@font-face {
    font-family: emo;
    src: local("Vitruvian Man"),
         url(/VitruvianMan-eW73.ttf);
    font-weight: bold;
}

html, body {
    background: #000000;
    color: #dd0083;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

a {
    color: #dd0083 !important;
}

#app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

header, footer {
    flex: 0 0 auto;
    text-align: center;
    padding: 15px;
}

main {
    /* flex: 1 1 auto; */
    /* overflow: show; */
    margin: auto 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0;
}

h1 {
    color: #dd0083;
    font-family: 'emo', Calibri, sans-serif;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 2em;
    line-height: 1.2;
}

.title {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 80px;
    letter-spacing: 0.1em;
}

.title li {
    display: inline-block;
}

.title li:not(:first-of-type):not(:last-of-type) {
    padding: 0 0.25em;
}


.container {
    display: grid;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 10px;
    text-align: center;
    margin: auto;
}

.card {
    box-shadow: 0 0 2px #dd0083;
    padding: 25px;
    font-size: 1.2em;
    transition: color ease-in-out .2s, background-color ease-in-out .2s;
}

.card:hover {
    background-color: #dd0083;
    color: white;
    cursor: pointer;

}

.card.disabled {
    background-color: gray !important;
    color: black !important;
}

.card h3 {
    font-family: 'Finger Paint', cursive;
}

.stream .streamTitle span {
    display: inline-block;
    padding: 0.3em;
    line-height: 1;
    background-color: #dd0083;
    color: white
}

.stream main {
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    overflow: auto;

}
.stream aside.sidebar {
    flex: 0 0 300px;
    overflow: auto;
}
.stream aside.sidebar h2 {
    text-align: center;
}
.stream aside.sidebar ul {
    overflow: auto;
    list-style: none;
    padding: 0;
    overflow: auto;
}

.stream aside.sidebar li {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.stream aside.sidebar li span:first-of-type {
    text-align: center;
    text-transform: uppercase;
    width: 45px;
}

.stream aside.sidebar li span:not(:first-of-type) {
    margin-left: 10px;
    flex: 1 1 auto;
}

.stream aside.sidebar li:hover, .stream aside.sidebar li.active {
    background-color: #dd0083;
    color: white;
}

.stream aside.content {
    flex: 1 1 auto;
}

#twitch-embed {
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dd0083;
    border-radius: 10px;
  }