@font-face {
    font-family: emo;
    src: local("Vitruvian Man"),
         url(/VitruvianMan-eW73.ttf);
    font-weight: bold;
  }

html, body {
    background: #000000;
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #F2F2F2;
    font-family: 'emo', Calibri, sans-serif;
}